@import "../../styles.scss";

.main {
    height: calc(100vh - 75px);
    background: $secondary;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content {
    background-color: $background;
    width:40vw;
}

.fullwidth{
    width: 100%;
}

