@import "../styles.scss";

mat-sidenav-container{
    height: calc(100vh - 65px);
}

mat-sidenav {
    width: 150px;   
    background-color: $secondary;
}

mat-sidenav-content{
    background-color: $background;
    height: calc(100vh - 65px);
    padding: 15px;
}

mat-toolbar{
    background-color: $primary;
    color:#ffffff;  
}

.content{
    margin-left:180px !important;
}

.spacer {
    flex: 1 1 auto;
  }